# Magic

This section describes how to enable magic functions

In [3]:
%load_ext pandas_td.ipython

In [4]:
%use sample_datasets

         name    count  estimated_storage_size         last_log_timestamp                 created_at
0  www_access     5000                       0  2014-10-04 01:13:15+00:00  2014-10-04 01:13:12+00:00
1      nasdaq  8807278               168205061  1970-01-01 00:00:00+00:00  2014-10-08 02:57:38+00:00

In [5]:
%dbs

              name    count   permission                 created_at                 updated_at
0  sample_datasets  8812278   query_only  2014-10-04 01:13:11+00:00  2015-01-09 01:07:14+00:00
1         tutorial       19  full_access  2015-05-27 13:12:43+00:00  2015-05-27 13:12:43+00:00

In [10]:
%tables

         name    count  estimated_storage_size         last_log_timestamp                 created_at
0  www_access     5000                       0  2014-10-04 01:13:15+00:00  2014-10-04 01:13:12+00:00
1      nasdaq  8807278               168205061  1970-01-01 00:00:00+00:00  2014-10-08 02:57:38+00:00

In [13]:
%%presto
select count(1) from www_access

   _col0
0   5000